body {
    background: #292727 url(../img/fon.jpg) no-repeat center;
    /* -webkit-background-size: cover; */
    background-size: cover;
    /* -webkit-font-smoothing: antialiased; */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    text-align: center;
    color: rgb(244, 250, 160);
    padding-top: 20px;
}

h1 {
    font-size: 85px;
    font-family: "rdp";
    letter-spacing: 5px;
    word-spacing: 20px;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

@font-face {
    font-family: "rdp";
    src: url("../fonts/rdp.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}