@font-face {
    font-family: "rdp";
    src: url("../fonts/rdp.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #292727 url(../img/fon.jpg) center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    text-align: center;
    color: rgb(244, 250, 160);
    padding: 20px 0 100px 0;
}

h1 {
    font-size: 90px;
    font-family: "rdp";
    letter-spacing: 5px;
    word-spacing: 20px;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 42px;
    font-family: "rdp";
    letter-spacing: 20px;
    color: rgb(244, 250, 160);
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* ------------------------------------------------------------------------- */

.content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.content__item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.content__item:hover .content__view {
    opacity: 1;
}

.content__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.content__view {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.content__title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.content__text {
    font-size: 18px;
    color: #ffffff;
}

/* ------------------------------------------------------------------------- */

.footer__inner {
    padding-bottom: 20px;
}

.footer__title {
    margin-bottom: 50px;
}

.location__inner {
    display: flex;
}

.location__map {
    opacity: 0.7;
    transition: opacity 0.3s linear;
    width: 50%;
    overflow: hidden;
    padding-right: 10px;
}

.location__map:hover {
    opacity: 1;
}

.location__nav {
    width: 50%;
    padding-left: 10px;
}

.menu {
    line-height: 50px;
}

.submenu__adress {
    position: relative;
    font-size: 20px;
    color: rgb(244, 250, 160);
    border-radius: 10px;
    padding-left: 15px;
    transition: .5s linear;
}

.submenu {
    font-size: 20px;
    position: absolute;
    left: 57%;
    top: 25%;
    z-index: 2;
    opacity: 0;
    transform: scaleZ(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    line-height: 25px;
}

.submenu__adress:hover .submenu {
    opacity: 1;
    transform: scaleZ(1);
}